/*book4.css*/

body{
	color:#511114;
  background-color: #c2e6dc;
}

.book-form span, #last_input span {
    color:#511114;
}

.b-page-cover, .b-page{
  background-color: #c2e6dc;
  background-image: url(../img/tema4/back.png);
}

.book-cover-photo{
  background-image: url(../img/tema4/marco.png), url(../img/tema4/marco_fondo.png);
}
.book-header{
  background-image: url(../img/tema4/header.png);
 
}


.book-footer{
 background-image: url(../img/tema4/footer.png);

}

.book-title-page{
  background-image: url(../img/tema4/titulo_back.png);
  top: 75px;
}

.book-title-page p {
position: absolute;
width: 149px;
top: 5px;
left: 17px;
font-size: 17px;
}

.book-title-page span {
font-size: 10px;
position: absolute;
top: 25px;
width: 200px;
left: -3px;
}

#ultrasound_photo_1{
background-image: url(../img/tema4/marco.png), url(../img/tema4/marco_fondo.png);

}

#ultrasound_photo_2{
  background-image: url(../img/tema4/marco.png), url(../img/tema4/marco_fondo.png);

}


.photo-up, .photo-v {
  background-image: url(http://momtomom.mx/apps/memorias_embarazo/img/tema4/marco.png);
}

#photo1{
  background-image: url(../img/tema4/marco.png), url(../img/tema4/marco_fondo.png);
}

#photo2{
  background-image: url(../img/tema4/marco.png), url(../img/tema4/marco_fondo.png);
}


#photo3{
  background-image: url(../img/tema4/marco.png), url(../img/tema4/marco_fondo.png);
}


.belly_photo_back{
  background-image: url(../img/tema4/marco_fondo.png);
}


#BabyshowerPageAddForm #photo1, #BabyshowerPageAddForm #photo2 {
  background-image: url(../img/tema4/marco.png);
}

#photo1_back_{
  background-image: url(../img/tema4/marco_fondo.png);

}

#photo2_back_{
  background-image: url(../img/tema4/marco_fondo.png);

}



#photo {

  background-image: url(http://momtomom.mx/apps/memorias_embarazo/img/tema4/marco.png);

}

#photo_back{
  background-image: url(../img/tema4/marco_fondo.png);
}


#room_photo_back{
  background-image: url(../img/tema4/marco_fondo.png);
}


#photo-back{
  background-image: url(../img/tema4/marco_fondo.png);
}

#NewfamilyPageAddForm {
  background-image: url(../img/tema4/newfam.png);
}
#photo-back-1{
  background-image: url(../img/tema4/marco_fondo.png);

}

.familytreeFile{
  background-image: url(../img/tema4/marco_circular.png), url(../img/tema4/marco_circular_back.png);

}

.familytreeFile{

  background-image: url(../img/tema4/marco_circular.png), url(../img/tema4/marco_circular_back.png);

}

.familytreePages {
  margin-top: 0;
}


.bebes{
  background-image: url(../img/tema4/bebesotes.png);
  width: 330px;
  height: 181px;
  top: 36px;
  left: 43px;
  text-indent: -10000px;
  background-size: 330px;
}


.familytreeFile {
background-image: url(../img/tema4/marco_circular.png);
}


         
#ilovemybaby .opcion {
    background-image: url(http://momtomom.mx/apps/memorias_embarazo/img/tema4/caballo.png);
}

#ilovemybaby .opcion+.opcion {
    background-image: url(http://momtomom.mx/apps/memorias_embarazo/img/tema4/tambor.png);
}

#ilovemybaby .opcion+.opcion+.opcion {
    background-image: url(http://momtomom.mx/apps/memorias_embarazo/img/tema4/mar.png);
}