body {
	background-image: url(../img/tema2/back.png);
  color: #808080;
}

input[type="text"], input[type="number"], textarea {
  color: #808080;
}

.ask{
  background-image: url(../img/tema2/ayuda.png);
}

.settings {
  background-image: url(../img/tema2/ajustes.png);
}

.home{
  background-image: url(../img/tema2/home.png);
}

#header h1 {
  background: #003d4c url('../img/cake.icon.png') no-repeat left;
}

.header{
	background-image: url(../img/tema2/header.png);
  background-position: 0 0;
}

.title_page{
  background-image: url(../img/tema2/titulo_back.png);
}

.whoami_photo {
  background-image: url(../img/tema2/marco_whoami.png);
}

.cover_photo,
.photo-up,
.photo-v {
  background-image: url(../img/tema2/marco.png);
}

.cover_photo_back,
.whoami_photo_back,
#ultrasound_photo_1_back,
#ultrasound_photo_2_back,
#photo3_back,
#photo1_back,
#photo2_back,
.firstkick_photo_back,
.belly_photo_back,
#photo1_back_,
#photo2_back_,
#photo_back,
#room_photo_back,
#photo-back,
#photo-back-1 {
  background-image: url(../img/tema2/marco_fondo.png);
}

.firstkick_photo_back{ top: 180px;}

.pick_fb{
  background-image: url(../img/tema2/bt_elegir.png);
}

.upload_bt {
  background-image: url(../img/tema2/bt_subir_foto.png);
}

p.whatdo{
  background-image: url(../img/que-quieres-hacer.png); // FALTA?
}

.write_bt {
  background-image: url(../img/tema2/bt_escribir.png);
}

.write_bt:hover {
  margin-top: -12px;
}


.share_bt{
  background-image: url(../img/tema2/bt_compartir.png);
}

.share_bt:hover {
  margin-top: -20px;
}

.watch_bt{
  background-image: url(../img/tema2/bt_ver.png);
}

.instructions_bt {
  background-image: url(../img/tema2/bt_instrucciones.png);
}

.first_trim {
  background-image: url(../img/tema2/bt_primer.png);
}

.second_trim {
  background-image: url(../img/tema2/bt_segundo.png);
}

.third_trim {
  background-image: url(../img/tema2/bt_tercer.png);
}

.menu_trims .current,
.first_trim:hover,
.second_trim:hover,
.third_trim:hover {
  background-position: 0 33px;
}

.ant{
  background-image: url(../img/tema2/anterior.png);
}

.sig{
  background-image: url(../img/tema2/siguiente.png);
}

form .submit input[type="submit"]{
  background-image: url(../img/tema2/bt_guardar.png);
}

#send_OK input[type="submit"] {
  background-image: url(../img/tema2/bt_aceptar.png);
}

.footer {
  background-image: url(../img/tema2/footer.png);
}

.bebes {
  background: url(../img/tema2/bebesotes.png);
  width: 644px;
  height: 363px;
  left: 70px;
}

.add_moment:before {
  background-image: url(../img/tema2/agrega_memoria.png);
}

#IlovemybabyPageAddForm .opcion {
  background-image: url(../img/tema2/caballo.png);
}
#IlovemybabyPageAddForm .opcion+.opcion {
  background-image: url(../img/tema2/tambor.png);
}

#IlovemybabyPageAddForm .opcion+.opcion+.opcion {
  background-image: url(../img/tema2/mar.png);
}

#queesanidar {
  background-image: url(../img/tema2/pop_anidar.png);
}

.add_moment{
  background-image: url(../img/tema2/bt_agregar.png);
}

.familytreepages.form {
    background: url(../img/tema2/family_tree.png) center 190px no-repeat;
}

.familytreeFile{
  background-image: url(../img/tema2/marco_circular.png), url(../img/tema2/marco_circular_back.png);
}

/* COLORS */

#last_input,
.aux_text,
p.middle_note,
.ultra .info h3,
.note_sintom_,
#SpecialdeliveryPageAddForm .nota-foot
#AnimoPageAddForm h3,
#BellymonthPageAddForm .cerca,
#GettingclosePageAddForm .miedo,
#CoolultrasoundPageAddForm .uno h3,
#NestingPageAddForm .emociones,
#ByebellyPageAddForm .nota,
#AnimoPageAddForm p {
  color: #0C5773; //AZUL
}

.mesuno>p, .mesdos>p, .mestres>p {
  color: #E06873; //ROSA
}

ul.vertical_menu_1 li{
  background: #bdccd4;
  border-right: 1px solid #FDD;
  border-bottom: 1px solid #FDD;
}

ul.vertical_menu_1 li a {
  color: #7095a7;
}

ul.vertical_menu_1 li.selected,
ul.vertical_menu_1 li:hover {
  border-right: 1px solid #FDD;
  border-bottom: 1px solid #FDD;
  background: #7095a7;
}


ul.vertical_menu_1 li:first-child,
ul.vertical_menu_1 li.selected:first-child,
ul.vertical_menu_1 li:hover:first-child {
  border-left: 1px solid #fdd;
}


ul.vertical_menu_1 li.selected a,
ul.vertical_menu_1 li:hover a {
  color: #fff;
}


input[type="text"] {
  border-bottom: 1px solid #808080;
}

.col1 p:after {
  border-top: 1px dashed rgba(135, 119, 153, 0.47);
}

#MomentPageAddForm .page_title input[type="text"]{
  color: #808080;
}
