@charset "utf-8";
/**
 *
 * CSS Tema 1 / Memorias de Embarazo
 *
 * 
 */


/****************************************************************************8/

* {
  margin:0;
  padding:0;
  -webkit-font-smoothing: antialiased;
}

/** General Style Info **/

html{
  width: 810px;
}

/* clearfix */

.cf:before, .cf:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

a {
  color: #003d4c;
  text-decoration: underline;
  font-weight: bold;
}
a:hover {
  color: #367889;
  text-decoration:none;
}
a img {
  border:none;
}

h1 {
  background:#fff;
  color: #003d4c;
  font-size: 100%;
}
h2 {
  background:#fff;
  color: #e32;
  font-size: 190%;
}
h3 {
  color: #2c6877;
  font-size: 165%;
}
h4 {
  font-weight: normal;
}
ul, li {
  margin: 0 12px;
}


/* DEFAULTS */



/** Layout **/
.menu{
  width: 129px;
  height: 20px;
  position: absolute;
  top: 30px;
  right: 10px;
}

.ask{
  height: 20px;
  width: 23px;
  background-repeat: no-repeat;
  text-indent: -9999px;
  float: left;
  margin: 0;
  background-image: url(../img/ayuda.png);
}

.ask:hover{
  background-position-y: -21px;
}

.settings{
  height: 20px;
  width: 23px;
  background-repeat: no-repeat;
  text-indent: -9999px;
  float: left;
  margin: 0px 15px;
  background-image: url(../img/ajustes.png);

}

.settings:hover{
  background-position-y: -22px;
}

.home{
  height: 20px;
  width: 23px;
  background-repeat: no-repeat;
  text-indent: -9999px;
  float: left;
  margin: 0;
  background-image: url(../img/home.png);
}

.home:hover{
  background-position-y: -20px;
}

#container {
  text-align: left;
}

#header{
  padding: 10px 20px;
}
#header h1 {
  line-height:20px;
  background: #003d4c url('../img/cake.icon.png') no-repeat left;
  color: #fff;
  padding: 0px 30px;
}
#header h1 a {
  color: #fff;
  background: #003d4c;
  font-weight: normal;
  text-decoration: none;
}
#header h1 a:hover {
  color: #fff;
  background: #003d4c;
  text-decoration: underline;
}
#content{
  background: #fff;
  clear: both;
  color: #333;
  padding: 10px 20px 40px 20px;
  overflow: auto;
}
#footer {
  clear: both;
  padding: 6px 10px;
  text-align: right;
}


body {
	width: 810px;
  height: 1150px;
	background-image: url(../img/back.png);
	color: #fff;
	font-family:'futura-pt', helvetica, arial, sans-serif;
	font-size: 16px;
	margin: 0;
	overflow: hidden;
  position: relative;
  -webkit-font-smoothing: antialiased;
}


.header{
  position: relative;
  top: 0;
  left: 0;
  width: 810px;
  height: 190px;
  background-image: url(../img/nube1.png), url(../img/titulo1.png), url(../img/titulo2.png), url(../img/nube2.png), url(../img/nube3.png);
  background-position: 0px -87px, center -46px, center 82px, 0px -102px, 0px -500px;
  background-repeat: no-repeat;
  z-index: 1000;
}

.menu{
  position: absolute;
  top: 95px;
  right: -12px;
}

.content{
  min-height: 890px;
  min-width: 100%;
  position: absolute;
  top: 190px;
  left: 0px;
}

.photo-up, .photo-v {
  width: 280px;
  height: 215px;
  position: absolute;
  background-image: url(../img/marco.png);
  background-position: top left, center center;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: 280px 215px;
}

.photo-v {
  width: 260px;
  height: 300px;
  background-size: 260px 300px;
}

.photo-v .pick_fb {
    top: 170px;
    left: 70px;
}

.cover_photo{
  width: 392px;
  height: 297px;
  position: absolute;
  left: 209px;
  background-color: transparent;
  background-image: url(../img/marco.png);
  background-position: top left;
  text-indent: -9999px;
  background-repeat: no-repeat;
}

.cover_photo_back{
  width: 350px;
  height: 252px;
  position: absolute;
  left: 12px;
  background-image: url(../img/marco_fondo.png);
  background-size: cover;
  background-position: center;
  text-indent: -9999px;
  background-repeat: no-repeat;
  top: 20px;
  z-index: -1;
}


.pick_fb{
  background-image: url(../img/bt_elegir.png);
  width: 107px;
  height: 20px;
  position: relative;
  top: 137px;
  left: 62px;
  overflow: hidden;
  text-indent: -9999px;
}

.upload_bt{
  background-image: url(../img/bt_subir_foto.png);
  width: 107px;
  height: 20px;
  position: absolute;
  top: 158px;
  left: 200px;
  text-indent: -9999px;
  color: transparent;
}

.photo-up .upload_bt {
  top: 140px;
  left: 80px;
}

.photo-v .upload_bt {
  top: 200px;
  left: 70px;
}

.photo-up .pick_fb {
  left: 80px;
  top: 109px;
}

#send_OK {
  position: absolute;
  top: 240px;
  left: 53px;
}

#send_OK input[type="submit"]{
	position: absolute;
	top: -50px;
	left: 110px;
	text-indent: -9999px;
	width: 55px;
	height: 55px;
	background-image: url(../img/bt_aceptar.png);
	background-color: transparent;
	border: none;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-moz-box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.3), 0px 0px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.3), 0px 0px 0px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.3), 0px 0px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer:
  cursor: hand;
}

p.whatdo{
  background-image: url(../img/que-quieres-hacer.png);
  width: 285px;
  height: 34px;
  position: absolute;
  left: 262px;
  text-indent: -9999px;
  top: 300px;
}

.cover_menu{
  width: 600px;
  position: absolute;
  left: 113px;
  top: 350px;
}

.write_bt{
  float: left;
  background-image: url(../img/bt_escribir.png);
  width: 188px;
  height: 123px;
  text-indent: -9999px;
}

.write_bt:hover {
  background-position: 0 123px;
  margin-top: -5px;
}


.share_bt{
  float: left;
  background-image: url(../img/bt_compartir.png);
  width: 188px;
  height: 130px;
  text-indent: -9999px;
  margin-top: -9px;
}

.share_bt:hover{
  background-position: 0 134px;
  margin-top: -13px;
}


.watch_bt{
  float: left;
  background-image: url(../img/bt_ver.png);
  width: 188px;
  height: 123px;
  text-indent: -9999px;
  margin-top: 1px;
}

.watch_bt:hover{
  background-position: 0 116px;
  margin-top: -3px;
}

.instructions_bt{
  position: absolute;
  left: 282px;
  width: 236px;
  height: 76px;
  background-image: url(../img/bt_instrucciones.png);
  top: 520px;
  text-indent: -9999px;
  cursor: pointer;
}

.instructions_bt:hover{
  background-position: 0 76px;
  cursor: pointer;
}

.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 810px;
  height: 200px;
  background-image: url(../img/nube5.png), url(../img/nube4.png);
  background-position: 0px 4px, 0px 6px;
  background-repeat: no-repeat;
}


.welcome .footer  {
  background: none;
  display: none;
}

.footer_mtm{
  background-image: url(../img/footer_logo.png);
  width: 114px;
  height: 29px;
  text-indent: -9999px;
  position: relative;
  top: 157px;
  left: 42px;
}

.footer_link{
  background-image: url(../img/footer_site.png);
  width: 122px;
  height: 16px;
  text-indent: -9999px;
  position: absolute;
  top: 170px;
  right: 170px;
}

.footer_twitter{
  background-image: url(../img/footer_twitter.png);
  width: 116px;
  height: 18px;
  text-indent: -9999px;
  position: absolute;
  top: 170px;
  right: 20px;
}

/* trimestres menu */

.menu_trims{
  width: 810px;
  height: 30px;
  position: absolute;
  top: -30px;
  z-index: 1001;
}

.first_trim,
.second_trim,
.third_trim {
  width: 184px;
  height: 30px;
  text-indent: -9999px;
  display: inline-block;
  margin: 0 43px;
}

.first_trim{
  background-image: url(../img/bt_primer.png);
}

.first_trim.current,
.first_trim:hover{
  background-position: 0 38px;
}

.second_trim{
  background-image: url(../img/bt_segundo.png);
}

.second_trim.current,
.second_trim:hover{
  background-position: 0 38px;
}

.third_trim{
  background-image: url(../img/bt_tercer.png);
}

.third_trim.current,
.third_trim:hover{
  background-position: 0 38px;
}


/** menu vertical ;S **/

ul.vertical_menu_1{
  width: 700px;
  -webkit-transform: rotate(-270deg);
  -moz-transform: rotate(-270deg);
  -ms-transform: rotate(-270deg);
  -o-transform: rotate(-270deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  position: fixed;
  top: 593px;
  z-index: 1000;
  margin: 0;
  list-style: none;
  right: -329px;
}

ul.vertical_menu_1 li{
  float: left;
  border-right: 1px solid #0c5773;
  border-bottom: 1px solid #0c5773;
  padding: 10px 7px;
  margin: 0;
  background: #05232E;
}

ul.vertical_menu_1 li.selected,
ul.vertical_menu_1 li:hover {
  border-right: 1px solid #05232e;
  border-bottom: 1px solid #05232e;
  background: #0c5773;
}


ul.vertical_menu_1 li:first-child {
  border-left: 1px solid #0c5773;
}

ul.vertical_menu_1 li.selected:first-child,
ul.vertical_menu_1 li:hover:first-child {
  border-left: 1px solid #05232e;
}


ul.vertical_menu_1 li.selected a,
ul.vertical_menu_1 li.:hover a {
  color: #000;
}


ul.vertical_menu_1 li a{
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}

.add_moment{
  background-image: url(../img/bt_agregar.png);
  text-indent: -9999px;
  width: 31px;
  height: 31px;
  position: absolute;
  top: 992px;
  left: 758px;
  z-index: 9999;
}

.add_moment:before {
  content: '';
  display: none;
  background-image: url(../img/agrega_memoria.png);
  background-repeat: no-repeat;
  width: 207px;
  height: 31px;
  position: absolute;
  top: 0;
  left: -210px;
}

.add_moment:hover:before {
  display:block;
}


/** ARBOL GENEALOGICO **/

input[type="number"] {
  margin: 0 5px;
}

.familytreePages.form {
    background: url(../img/family_tree.png) center 190px no-repeat;
    top: 80px;
}

#grandpa_dad {
    top: 50px;
    left: 20px;
}
#grandpa_mom {
    top: 50px;
    left: 200px;
}
#grandma_dad {
    top: 50px;
    left: 402px;
}
#grandma_mom {
    top: 50px;
    left: 585px;
}
#dad {
    top: 320px;
    left: 200px;
}
#mom {
    top: 320px;
    left: 402px;
}
#baby {
    top: 540px;
    left: 300px;
}

#FamilytreePageAddForm .submit {
  z-index: 1;
  top: 714px;
  left: 481px;
}

form#familytreePageAddForm{
  position: absolute;
  top: 100px;
  left: 0px;
  width: 810px;
  text-align: center;

}

form .input {
 line-height: 28px;
}

#CongratsPageAddForm input[type=number], 
#FirstVisitPageAddForm input[type=number] {
  margin: 0 5px;
}
.congratsPages{
  position: absolute;
  top: 150px;
}

#CongratsPageSospeche {
  width: 415px;
}

#CongratsPageFirstfeeling {
  width: 535px;
}

#CongratsPageHowishare {
  width: 705px;
}

#CongratsPageBabybros {
  width: 420px;
}

#CongratsPageDetails {
  width: 700px;
}

#FirstVisitPageGin {
  width: 570px;
}

#FirstVisitPageAddForm .row .input {
    float: left;
}
#FirstVisitPageAddForm .row {
    width: 100%;
    display: block;
}
#FirstVisitPageAddForm .row input {
    margin-left: 10px;
}
#FirstVisitPageAddForm .row .text input {
    width: 195px;
}
#FirstVisitPageAddForm .row .number {
    margin-right: 140px;
}

#FirstVisitPageFirstvisit {
    width: 425px;
}

#FirstVisitPageAddForm .submit {
  bottom: 400px;
}
#WhoamiPageName {
    width: 262px;
}

#WhoamiPageAddForm .number {
  height: 32px;
}

#WhoamiPageAddForm .number p {
  float: none;
}

#WhoamiPageAddForm input[type="number"] {
  margin: 0 5px;
}

#WhoamiPageProfesion {
    width: 223px;
}
#WhoamiPageLocation {
    width: 257px;
}
#WhoamiPageDadsname {
    width: 243px;
}
#WhoamiPageRemember {
    width: 100%;
}

.familytreeFile{
  width: 172px;
  height: 171px;
  background-image: url(../img/marco_circular.png), url(../img/marco_circular_back.png);
  background-position: center center, center center;
  text-indent: -9999px;
  background-repeat: no-repeat;
  position: absolute;
}

.familytreeFile div.pick_fb{
  background-image: url(../img/bt_elegir.png);
  width: 107px;
  height: 20px;
  top: 55px;
  left: 29px;
}

.familytreeFile input[type="file"].upload_bt {
  background-image: url(../img/bt_subir_foto.png);
  width: 107px;
  height: 20px;
  text-indent: -9999px;
  top: 85px;
  left: 29px;
  position: absolute;
}

.name_input{
  top:200px;
  color: #147cc1;
  position: relative;
  top: 100px;
  background: none;
  border: none;
  font-size: 16px;
  text-align: center;
}

.name_input::-webkit-input-placeholder{
  color: #147cc1;
}
.name_input::-moz-placeholder{
  color: #147cc1;
}
.name_input:-ms-input-placeholder{
  color: #147cc1;
}
.name_input:-moz-placeholder{
  color: #147cc1;
}
/*fixed*/

div.index, div.view {
  float: left;
  display: inline-block;
  width: 810px;
  border:none;
  padding: 0;
}

.form {
  width: 650px;
  border: none;
  padding: 0 50px;
}

.form form {
  width: 710px;
  height: 680px;
}

/* page_title - second header like */

.page_title{
  width: 810px;
  height: 100px;
  position: absolute;
  top: 30px;
}

.ant{
  background-image: url(../img/anterior.png);
  text-indent: -9999px;
  width: 143px;
  height: 40px;
  float: left;
}

.sig{
  background-image: url(../img/siguiente.png);
  text-indent: -9999px;
  width: 140px;
  height: 40px;
  float: right;
}

.title_page{
  background-image: url(../img/titulo_back.png);
  text-align: center;
  padding-top: 40px;
  font-size: 30px;
  width: 283px;
  height: 70px;
  float: left;
  text-transform: uppercase;
  margin-left: 120px;
  margin-top: -20px;
  padding-right: 20px;
  background-repeat: no-repeat;
}


.title_page p{
  margin-top: -10px;
}

.title_page span{
  font-size: 15px;
  position: absolute;
  top: 45px;
  left: 265px;
  width: 278px;
}

/* FORM STYLE */


.form {
  display: block;
  border: none;
  padding: 0 35px;
  position: absolute;
  top: 140px;
  height: 680px;
  width: 690px;
}


label{
  float: left;
}

form .input{
  padding-bottom: 30px;
}

form .input span{
  overflow: hidden;
  display: block;
}


input[type="text"]{
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  font-size: 16px;
  color: #ccc;
  padding: 3px;
  text-align: center;
}


input[type="number"]{
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  font-size: 16px;
  color: #147cc1;
  padding: 5px;
  padding-bottom: 2px;
  width: 35px;
  font-weight: bold;
  display: inline-block;
}

input[type="radio"]{
  float: left;
  margin: 7px 0;
}

textarea {
  resize: none;
  padding: 10px;
  background: transparent;
  border: 1px solid white;
  color: white;
  line-height: 1.5;
}


select{
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  font-size: 16px;
  color: #ccc;
  padding: 3px;
}

.input p{
  font-size: 16px;
  float: left;
  padding-right: 5px;
  margin-bottom: 30px;
}

form p{
  float: left;
}

#last_input{
  color: #007EC4;
  text-align: center;
  line-height: 1.2;
}

#last_input span {
  margin-top: 10px;
}

.aux_text{
  color: #007EC4;
  position: absolute;
  top: 770px;
  left: 510px;
  width: 220px;
  text-align: center;
}

.submit {
  position: absolute;
  bottom: 60px;
  left: 367px;
}

.submit:before {
  content: '';
  background: url(../img/nube_copy.png) center no-repeat;
  display: none;
  width: 324px;
  height: 156px;
  position: absolute;
  top: -150px;
  left: -127px;
}

.submit:hover:after,
.submit:hover:before {
  display: block;
}

.photo-up .submit:hover:before,
.photo-v .submit:hover:before,
.cover_photo .submit:hover:before {
  display: none;
}

form .submit input[type="submit"]{
  text-indent: -9999px;
  width: 68px;
  height: 22px;
  background-image: url(../img/bt_guardar.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.3), 0px 0px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.3), 0px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.3), 0px 0px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  cursor: hand;
}

form .submit:hover input[type="submit"]{
  background-position: center bottom;
}


.whoami_left{
	float: left;
	width: 300px;
	height: 500px;
}

.whoami_photo{
	background-image: url(../img/marco_whoami.png);
	background-position: center center;
	width: 297px;
	height: 392px;
	background-repeat: no-repeat;
}

.whoami_left .pick_fb {
    left: 90px;
}
.whoami_left .upload_bt {
    left: 125px;
    top: 230px;
}

.whoami_photo_back{
  background-image: url(../img/marco_fondo.png);
  position: absolute;
  top: 47px;
  left: 57px;
  width: 245px;
  height: 320px;
  z-index: -1;
  background-size: cover;
  background-position: center;
}

.whoami_right{
	float: left;
	width: 315px;
	height: 500px;
	padding-top: 25px;
}

p.middle_note{
	color: #007EC4;
	font-size: 20px;
	text-align: center;
	width: 700px;
	position: absolute;
	top: 90px;
	left: 19px;
}


.sintomPages{
	top: 160px;
	position: absolute;
}

.sintom_left{
	width: 350px;
	float: left;
}

.sintom_inputs{
	width: 300px;
height: 80px;
}

#SintomPageMatutinos {
    width: 310px;
}
#SintomPageWorst {
    width: 485px;
}

#cravings_{
position: absolute;
top: 130px;
left: 105px;
}

.sintom_left input[type="text"]{
	width: 120px;
	margin-left: 15px;
}

.sintom_rite{
	width: 250px;
	float: left;
	padding-left: 30px;
}

.sintom_rite input[type="text"]{
	width: 250px;
	display: block;
}

.sintom_rite label{
	width: 257px;
	text-align: center;
}

#SintomPageWeirdestcraving {
  height: 230px;
  width: 255px;
  margin: 10px;
  resize: none;
  padding: 10px;
  background: transparent;
  border: 1px solid white;
  line-height: 1.5;
}

#gross_{
	position: absolute;
	top: 230px;
	left: 105px;
}
#gross{
	position: absolute;
  top: 235px;
}

#button_sintom {
  position: absolute;
  bottom: 80px;
  left: 367px;
}

.note_sintom_{
	position: absolute;
  width: 750px;
	color: #007EC4;
font-size: 20px;
top: 560px;
text-align: center;
}

/* ULTRASONIDO */

.ultra {
  height: 215px;
  margin-bottom: 40px;
}

.ultra .hasDatepicker {
  width: 268px;
}
.ultra .info {
  width: 320px;
  position: absolute;
  left: 334px;
}

.ultra .info h3 {
  font-weight: 400;
  color: #007EC4;
  margin: 0 0 12px;
}

.ultra .info label {
  display: inline;
  line-height: 25px;
}

.ultra .info p {
  display: inline-block;
  float: none;
  padding-bottom: 12px;
  line-height: 26px;
  margin: 0 0 10px;
}

.info input {
  display: inline-block;
}

#ultrasound_photo_1_back{
  background-image: url(../img/marco_fondo.png);
  top: 12px;
  position: absolute;
  left: 50px;
  width: 235px;
  height: 190px;
  z-index: -1;
  background-position: center;
  background-size: cover;
}

#ultrasound_photo_2_back{
  background-image: url(../img/marco_fondo.png);
  position: absolute;
  top: 265px;
  left: 50px;
  width: 235px;
  height: 190px;
  z-index: -1;
  background-position: center;
  background-size: cover;
}

/* BELLY PAGES */

.mesuno {
    position: absolute;
    left: 81px;
}
.mesdos {
    position: absolute;
    left: 457px;
}
.mestres {
    position: absolute;
    top: 310px;
    left: 270px;
}

.mesuno>p, .mesdos>p, .mestres>p {
  position: absolute;
  top: 215px;
  text-align: center;
  width: 262px;
  color: #1082AC;
  font-size: 20px;
}

#photo3_back{
  background-size: cover;
  background-position: center;
  background-image: url(../img/marco_fondo.png);
  width: 245px;
  height: 190px;
  z-index: -1;
  position: absolute;
  top: 10px;
  left: 10px;
}


#photo1_back{
  background-size: cover;
  background-position: center;
  background-image: url(../img/marco_fondo.png);
  width: 245px;
  height: 190px;
  z-index: -1;
  position: absolute;
  top: 10px;
  left: 10px;
}


#photo2_back{
  background-size: cover;
  background-position: center;
  background-image: url(../img/marco_fondo.png);
  width: 245px;
  height: 190px;
  z-index: -1;
  position: absolute;
  top: 10px;
  left: 10px;
}

/* ANIMO */

#AnimoPageAddForm h3 {
  float: left;
  margin: 0 0 0 73px;
  color: #1392C2;
  font-size: 22px;
}

#AnimoPageAddForm p {
  float: none;
  color: #1392C2;
  position: relative;
}

#AnimoPageAddForm input[type=radio] {
  margin: 0 0 9px 0;
}

.mi-humor, .mi-humor, .mi-energia, .mi-fisico, .mi-otros {
  font-size: 16px;
  margin-bottom: 50px;
}

.col2 {
  margin-left: 33px;
}

.col1, .col2, .col3, .col4 {
  float: left;
}

.mi-fisico .col1, .mi-fisico .col2, .mi-fisico .col3, .mi-fisico .col4 {
  margin-bottom: 0;
}

.mi-otros .col2, .mi-otros .col3, .mi-otros .col4 {
  margin: 12px 20px 0 17px;
  width: 97px;
}

.mi-otros .col2 input, .mi-otros .col3 input, .mi-otros .col4 input {
    width: 90px;
}

.col2, .col3, .col4 {
  width: 20px;
  margin: 27px 58px 0 57px;
}

.col1 {
  width: 300px;
}

.col1 p:after {
  width: 550px;
  content: '';
  border-top: 1px dashed rgba(255, 255, 255, 0.15);
  position: absolute;
  top: 12px;
  z-index: -11;
}

.col1 p+p:after {
    width: 530px;
}
.col1 p+p+p:after {
    width: 463px;
}

.mi-energia .col1 p+p:after {
    width: 510px;
}
.mi-energia .col1 p:after {
    width: 516px;
}

.mi-fisico .col1 p+p:after {
    width: 498px;
}
.mi-fisico .col1 p:after {
    width: 453px;
}
.mi-fisico .col1 p+p+p:after {
    width: 434px;
}

.mi-otros .col1 p:after {
  border: none;
}

.meses {
  margin-left: 252px;
}

/* IlovemybabyPageAddForm */


#IlovemybabyPageAddForm p {
  float: none;
  margin: 60px 0;
}

.fecha {
  width: 160px;
}

#IlovemybabyPageAddForm .opcion {
    display: block;
    width: 230px;
    height: 140px;
    float: left;
    margin-bottom: 40px;
    background-image: url(../img/caballo.png);
    background-repeat: no-repeat;
    background-position-x: center;
  background-position-y: center;

}

#IlovemybabyPageAddForm .opcion input {
    margin-left: 110px;
    margin-top: 100px;
}

#IlovemybabyPageAddForm .opcion label {
    width: 100%;
    text-align: center;
}

#IlovemybabyPageAddForm .opcion+.opcion {
  background-image: url(../img/tambor.png);
}

#IlovemybabyPageAddForm .opcion+.opcion+.opcion {
  background-image: url(../img/mar.png);
}


#senti {
  width: 450px;
  height: 140px;
  margin: 0 10px;
}

/* #ChildsexPageAdd */

.bebes {
  display: block;
  background: url(../img/bebesotes.png);
  width: 589px;
  height: 348px;
  position: absolute;
  top: 160px;
  left: 120px;
  text-indent: -10000px;
}

.todomundo {
  width: 276px;
  position: absolute;
  left: 263px;
  top: 210px;
  text-align: center;
}
.todomundo label,
.personalmente label {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100px;
  top: 30px;
  position: relative;
}

.todomundo p,
.personalmente p {
  float: none;
}

.todomundo input[type="radio"],
.personalmente input[type="radio"] {
  position: absolute;
  top: 0;
  left: 42px;
}

.personalmente .opcion1,
.personalmente .opcion2,
.personalmente .opcion3,
.todomundo .opcion1,
.todomundo .opcion2,
.todomundo .opcion3 {
  position: relative;
  width: 90px;
  height: 60px;
  float: left;
}

.personalmente {
  position: absolute;
  top: 310px;
  left: 263px;
  width: 276px;
  text-align: center;
}

.decidimos {
  position: absolute;
  top: 430px;
}

.decidimos p {
  margin: 20px 0;
}

.decidimos input[type=radio],
.decidimos label {
  float: none;
  display: inline-block;
}

.decidimos .decid {
  width: 350px;
}

.decidimos .nick {
  width: 140px;
}


/* #FirstkickPageAddForm */


#datepickerCongrats, #datepickerCongrats1 {
  width: 160px;
}


.firstkick_photo_back{
  background-size: cover;
  background-position: center;
  background-image: url(../img/marco_fondo.png);
  width: 227px;
  height: 267px;
  z-index: -1;
  position: absolute;
  top: 206px;
  height: 257px;
z-index: -1;
position: absolute;
top: 202px;
  left: 46px;
}

/* #FirstkickPageAddForm */

#FirstkickPageAddForm p {
  float: none;
  margin: 0 0 10px 0;
}

#FirstkickPageAddForm .photogenic input {
    width: 357px;
}

#FirstkickPageAddForm .hasDatepicker {
  width: 160px;
}

.startkick input[type="text"] {
  width: 277px;
}

#FirstkickPageAddForm .colL {
    float: left;
    width: 280px;
    margin-top: 50px;
}

#FirstkickPageAddForm .colL .hasDatepicker {
    margin: 310px 65px 0;
}

#FirstkickPageAddForm .colR {
    float: left;
    width: 400px;
}

#FirstkickPageAddForm .colR textarea {
    width: 250px;
    margin: 0 10px;
}

#FirstkickPageAddForm .colR .opciones {
  margin-bottom: 25px;
}

#FirstkickPageAddForm  .opcion {
  display: block;
  width: 187px;
  float: left;
  margin: 31px 12px 0;
}

#FirstkickPageAddForm .opcion label {
  line-height: 22px;
  margin-left: 6px;
  padding: 0;
}

#FirstkickPageAddForm .opcion.nino,
#FirstkickPageAddForm .opcion.nina {
  width: 65px;
}

.gran label {
  width: 100%;
}

.antojos {
  margin-top: 25px;
}

.antojos input[type="text"] {
  width: 144px;
  margin-left: 9px;
}

.antojos label {
  height: 50px;
  width: 50px;
}

/* bellymonthPages */


.bellymonthPages .colL,
.bellymonthPages .colR {
  float: left;
}

.bellymonthPages .colR {
  width: 410px;
}

.bellymonthPages .colL {
  width: 270px;
}

#BellymonthPageAddForm .colR p {
 margin: 0 0 5px;
 width: 100%;
}

#BellymonthPageAddForm .peso label,
#BellymonthPageAddForm .medida label {
  display: inline-block;
}

#BellymonthPageAddForm .peso input {
  width: 296px;
}

#BellymonthPageAddForm .medida input {
  width: 214px;
}

#BellymonthPageAddForm .hungry label,
#BellymonthPageAddForm .miss label,
#BellymonthPageAddForm .comfy label {
  line-height: 28px;
  margin-left: 10px;
}

#BellymonthPageAddForm .miss input[type="text"] {
  width: 350px;
}

#BellymonthPageAddForm .hungry {
  position: absolute;
  top: 120px;
}

#BellymonthPageAddForm .comfy {
  position: absolute;
  top: 430px;
}

#BellymonthPageAddForm .miss {
  position: absolute;
  top: 250px;
}

#BellymonthPageAddForm .cerca {
  position: absolute;
  bottom: 40px;
  text-align: center;
  color: #0f7491;
}

#BellymonthPageAddForm .submit {
  bottom: 150px;
}


.belly_photo_back{
  background-image: url(../img/marco_fondo.png);
  position: absolute;
  top: 13px;
  left: 44px;
  width: 230px;
  height: 268px;
  z-index: -1;
  background-size: cover;
  background-position: center;
}


/* GettingclosePageAddForm */


.miedo {
  font-size: 20px;
  text-align: center;
  width: 100%;
  color: #0f7491;
}

.sorry input {
  width: 325px;
}

.sorry {
  line-height: 25px;
}


#GettingclosePageAddForm .col.uno {
  width: 297px;
  margin: 0;
}


#GettingclosePageAddForm .col {
  float: left;
  margin-left: 31px;
}

#GettingclosePageAddForm .col input[type="text"] {
    width: 230px;
}
#GettingclosePageAddForm .col.uno input[type="text"] {
    width: 290px;
}

#GettingclosePageAddForm .col input[type="text"] {
    width: 230px;
}
#GettingclosePageAddForm .col.uno input[type="text"] {
    width: 290px;
}
#GettingclosePageAddForm .miedo,
#GettingclosePageAddForm .sorry {
    margin-bottom: 30px;
}

#GettingclosePageAddForm .col.dos {
  width: 78px;
  text-align: center;
}


#GettingclosePageAddForm .col.dos input {
  margin: 6px 32px 16px;
}


#GettingclosePageAddForm .col.dos p {
  margin-bottom: 10px;
}


#GettingclosePageAddForm .col.tres {
  width: 242px;
}

.papas input[type="text"],
.suegros input[type="text"] {
  width: 250px;
}

.suegros {
  margin: 30px 0;
}


/* #BabyshowerPageAddForm */

#BabyshowerPageAddForm .col input[type="text"] {
    width: 214px;
}

#BabyshowerPageAddForm .col.uno {
  width: 297px;
  margin: 0;
}


#BabyshowerPageAddForm .col {
  float: left;
  margin-left: 31px;
}


#BabyshowerPageAddForm .col.dos {
  width: 78px;
  text-align: center;
}


#BabyshowerPageAddForm .col.dos input {
  margin: 6px 32px 7px;
}


#BabyshowerPageAddForm .col.dos p {
  margin-bottom: 24px;
}


#BabyshowerPageAddForm .col.tres {
  width: 242px;
  margin-bottom: 30px;
}

.mibaby {
  width: 100%;
  margin-bottom: 30px;
}

.mibaby #datepickerCongrats {
  width: 205px;
}

#BabyshowerPageAddForm .col.uno {
  width: 220px;
}

#BabyshowerPageAddForm .col input[type="text"] {
  line-height: 40px;
}

#BabyshowerPageAddForm .col.dos {
  width: 138px;
}

#BabyshowerPageAddForm .col.tres {
  width: 283px;
}

#BabyshowerPageAddForm .col.dos p {
  margin-top: 0;
  margin-bottom: 22px;
}

#BabyshowerPageAddForm .col.dos input {
  margin: 0 63px 36px;
}

#BabyshowerPageAddForm .col {
  margin-left: 19px;
}

#BabyshowerPageAddForm .photo-up {
  top: 290px;
}

#BabyshowerPageAddForm .photo-up.dos {
  right: 0;
}

#photo1_back_{
  background-image: url(../img/marco_fondo.png);
  position: absolute;
  top: 300px;
  left: 43px;
  width: 251px;
  height: 192px;
  z-index: -1;
  background-size: cover;
  background-position: center;
}

#photo2_back_{
  background-image: url(../img/marco_fondo.png);
  position: absolute;
  top: 300px;
  left: 489px;
  width: 251px;
  height: 192px;
  z-index: -1;
  background-size: cover;
  background-position: center;
}

/* Coolultrasound */

#CoolultrasoundPageAddForm .bloque {
  display: block;
  width: 370px;
  position: absolute;
}

#CoolultrasoundPageAddForm .bloque.uno {
  left: 390px;
}

#CoolultrasoundPageAddForm .bloque.dos {
  top: 240px;
}

#CoolultrasoundPageAddForm .bloque.dos input[type="text"] {
    width: 260px;
}

#CoolultrasoundPageAddForm .bloque.tres {
  top: 240px;
  left: 390px;
  width: 370px;
}

#CoolultrasoundPageAddForm .uno h3 {
  color: #379dca;
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;
}

#CoolultrasoundPageAddForm .bloque p {
  margin: 0;
  margin-bottom: 12px;
  line-height: 15px;
  width: 100%;
}

#CoolultrasoundPageAddForm .doctor input {
  width: 313px;
}


#CoolultrasoundPageAddForm .opciones label, .opciones input {
  line-height: 27px;
  margin-left: 8px;
}

#CoolultrasoundPageAddForm .otro input {
  width: 286px;
  width: 270px;
}

#photo_back{
  background-image: url(../img/marco_fondo.png);
  position: absolute;
  top: 10px;
  left: 43px;
  width: 251px;
  height: 192px;
  z-index: -1;
  background-size: cover;
  background-position: center;
}

/* NestingPageAddForm */

#NestingPageAddForm .emociones {
  float: none;
  font-size: 20px; text-align: center; width: 100%; color: #0F7491;
  margin: 0;
}

#NestingPageAddForm .anidar {
  width: 244px;
  height: 170px;
  overflow: hidden;
  background: url(../img/anidar.png) no-repeat center;
  text-indent: -9999px;
  position: absolute;
  left: 100px;
  top: 70px;
}

#queesanidar{
	display: none;
	background-image: url(../img/pop_anidar.png);
	width: 390px;
	height: 366px;
	position: fixed;
	left: 144px;
	top: 500px;
	z-index: 1;
}


#NestingPageAddForm .dado {
  width: 300px;
  display: block;
  position: absolute;
  right: 130px;
  top: 80px;
}

#NestingPageAddForm .dado p{
  float: none;
  margin-bottom: 10px;
}


#NestingPageAddForm .opciones label {
    margin-left: 10px;
    line-height: 28px;
}

#NestingPageAddForm .comprar {
  width: 220px;
  position: absolute;
  top: 300px;
  left: 100px;
}

#NestingPageAddForm .comprar input {
  margin: 15px 0;
  width: 215px; 
}

#room_photo {
  top: 350px;
  right: 70px;
}

#NestingPageAddForm .cuarto {
  position: absolute;
  top: 300px;
  right: 220px;
}

#room_photo_back{
  background-image: url(../img/marco_fondo.png);
  position: absolute;
  top: 359px;
  left: 418px;
  width: 251px;
  height: 192px;
  z-index: -1;
  background-size: cover;
  background-position: center;
}

/* ByebellyPageAddForm */

#ByebellyPageAddForm p {
  margin: 0 0 20px 0;
  line-height: 28px;
  float: none;
  position: relative;
  display: block;
}

#ByebellyPageAddForm input[type="number"] {
  line-height: 1;
  margin-left: 0;
}

#ByebellyPageAddForm  .horas {
  position: absolute;
  width: 325px;
  right: 0;
  top: 279px;
}

#ByebellyPageAddForm .horas input {
  width: 90px;
}

#ByebellyPageAddForm .opciones p {
  margin: 0 0 15px;
}

#ByebellyPageAddForm .opciones input[type="radio"] {
  margin-right: 13px;
}

#ByebellyPageAddForm .opciones input[type="radio"] {
  margin-right: 13px;
}

#ByebellyPageAddForm .nota {
  color: #0F7491;
}

#ByebellyPageAddForm .estaba, #ByebellyPageAddForm .exp {
  width: 340px;
  float: left;
}

#ByebellyPageAddForm textarea {
    margin: 10px;
    width: 280px;
    height: 100px;
}

#ByebellyPageAddForm .opciones {
  margin-bottom: 40px;
}

/* #SpecialdeliveryPageAddForm */

.specialdeliveryPages .todo {
    width: 425px;
    margin: 0 auto;
    position: relative;
}

#SpecialdeliveryPageAddForm .photo-up {
    left: 80px;
    position: relative;
}

#SpecialdeliveryPageAddForm p {
    line-height: 27px;
    float: none;
    margin-bottom: 20px;
}
#SpecialdeliveryPageAddForm .eres input {
    width: 385px;
}
#SpecialdeliveryPageAddForm .eres {
    margin-top: 30px;
}

#SpecialdeliveryPageAddForm .bday input {
    width: 134px;
}

#SpecialdeliveryPageAddForm .bplace input {
    width: 140px;
}

#SpecialdeliveryPageAddForm .parto {
    position: absolute;
    right: 0;
    width: 175px;
    top: 347px;
}

#SpecialdeliveryPageAddForm .parto p,
#SpecialdeliveryPageAddForm .parto .opciones {
    float: left;
    margin: 0;
}

#SpecialdeliveryPageAddForm .opciones label {
    line-height: 27px;
    margin-left: 8px;
}

#SpecialdeliveryPageAddForm .pesaste input {
    width: 190px;
}

#SpecialdeliveryPageAddForm .ojos input {
    width: 250px;
}

#SpecialdeliveryPageAddForm .nota-foot {
    color: #007EC4;
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

#photo-back{
  background-image: url(../img/marco_fondo.png);
  position: absolute;
  top: 10px;
  left: 88px;
  width: 251px;
  height: 192px;
  z-index: -1;
  background-size: cover;
  background-position: center;
}

/* #WelcomebbyPageAddForm */

#WelcomebbyPageAddForm textarea {
    width: 670px;
    margin: 30px 0;
    height: 120px;
}

#WelcomebbyPageAddForm .pareces input {
    width: 435px;
}
#WelcomebbyPageAddForm p {
    float: none;
    line-height: 27px;
    margin: 0 0 25px 0;
}
#WelcomebbyPageAddForm .cordon input {
    width: 511px;
}
#WelcomebbyPageAddForm .tevi input {
    width: 463px;
}
#WelcomebbyPageAddForm .brazos input {
    width: 436px;
}
#WelcomebbyPageAddForm .conocer input {
    width: 560px;
}
#WelcomebbyPageAddForm .hospital input {
    width: 120px;
}

#WelcomebbyPageAddForm .noche input,
#WelcomebbyPageAddForm .emotivo input {
    width: 100%;
}

/* EpilogPageAddForm  */

.epilogPages.form {
    background: url(../img/epilogo.png) 80px 20px no-repeat;
}

#EpilogPageAddForm p {
    float: none;
}

#EpilogPageAddForm .opciones {
    width: 440px;
    margin: 150px auto 20px;
}

#EpilogPageAddForm textarea {
    margin: 10px 0;
    width: 420px;
    height: 130px;
}

#EpilogPageAddForm .post-parto {
    width: 440px;
    margin: 30px auto;
}


/* NewfamilyPageAddForm  */

#NewfamilyPageAddForm {
    background: url(../img/newfam.png) center 0 no-repeat;
}

#NewfamilyPageAddForm .photo-up {
    position: absolute;
    top: 40px;
    left: 260px;
}

#NewfamilyPageAddForm textarea {
    position: absolute;
    top: 290px;
    width: 370px;
    left: 190px;
    height: 180px;
}

#photo-back-1{
  background-image: url(../img/marco_fondo.png);
  position: absolute;
  top: 50px;
  left: 268px;
  width: 251px;
  height: 192px;
  z-index: -1;
  background-size: cover;
  background-position: center;
}

/*  #MomentPageAddForm  */


#MomentPageAddForm input[type="text"] {
  color: #fff;
  font-family: 'futura-pt', helvetica, arial, sans-serif !important;
  text-transform: uppercase;
  margin-top: 30px;
}

#MomentPageAddForm .page_title {
  left: 150px;
}

#MomentPageAddForm .title_page p {
  margin: -30px auto 0;
  width: 100%;
}
#MomentPageAddForm .title_page span {
  left: 120px;
  top: 31px;
}

#MomentPageAddForm .ph-bg {
  top: 90px;
  left: 286px;
}

#photo_moment {
  position: absolute;
  top: 80px;
  left: 278px;
}

#MomentPageAddForm .mom-desc {
  position: absolute;
  top: 350px;
  width: 420px;
  height: 160px;
  left: 180px;
}

/* ESTADOS */

#bienvenida_texto, .estilos, .welcome .content, .like {
  /* Aqui colocamos la transicion para cada navegador */
  -webkit-transition:all 4s ease-out;  /* Chrome y Safari */
  -o-transition:all 4s ease-out;  /* Opera */
  -moz-transition:all 4s ease-out;  /* Mozilla Firefox */
  -ms-transition:all 4s ease-out;   /* Internet Explorer */
  transition:all 4s ease-out;  /* W3C */
}

.zero .content {
  margin-top: 620px;
}
.zero .like {
  opacity: 0.99;
  top: -90px;
}

textarea {
  font-size: 1em;
  line-height: 1;
}
