body {
	background-image: url(../img/tema3/back.png);
  color: #877799;
}

input[type="text"], input[type="number"], textarea {
  color: #877799 !important;
  border-color: #877799 !important;
}


.ask{
  background-image: url(../img/tema3/ayuda.png);
}

.settings {
  background-image: url(../img/tema3/ajustes.png);
}

.home{
  background-image: url(../img/tema3/home.png);
}

#header h1 {
  background: #003d4c url('../img/cake.icon.png') no-repeat left;
}

.header{
	background-image: url(../img/tema3/header.png);
  background-position: 0 0;
}

.title_page{
  background-image: url(../img/tema3/titulo_back.png);
}

.cover_photo,
.photo-up,
.photo-v {
  background-image: url(../img/tema3/marco.png);
}

.cover_photo_back,
.whoami_photo_back,
#ultrasound_photo_1_back,
#ultrasound_photo_2_back,
#photo3_back,
#photo1_back,
#photo2_back,
.firstkick_photo_back,
.belly_photo_back,
#photo1_back_,
#photo2_back_,
#photo_back,
#room_photo_back,
#photo-back,
#photo-back-1 {
  background-image: url(../img/tema3/marco_fondo.png);
}

.pick_fb{
  background-image: url(../img/tema3/bt_elegir.png);
}

.upload_bt {
  background-image: url(../img/tema3/bt_subir_foto.png);
}

p.whatdo{
  background-image: url(../img/tema3/que-quieres-hacer.png); // FALTA?
}

.write_bt {
  background-image: url(../img/tema3/bt_escribir.png);
}

.share_bt{
  background-image: url(../img/tema3/bt_compartir.png);
}

.watch_bt{
  background-image: url(../img/tema3/bt_ver.png);
}

.instructions_bt {
  background-image: url(../img/tema3/bt_instrucciones.png);
}

.first_trim {
  background-image: url(../img/tema3/bt_primer.png);
}

.second_trim {
  background-image: url(../img/tema3/bt_segundo.png);
}

.third_trim {
  background-image: url(../img/tema3/bt_tercer.png);
}

.menu_trims .current,
.first_trim:hover,
.second_trim:hover,
.third_trim:hover {
  background-position: 0 33px;
}

.ant{
  background-image: url(../img/tema3/anterior.png);
}

.sig{
  background-image: url(../img/tema3/siguiente.png);
}

form .submit input[type="submit"]{
  background-image: url(../img/tema3/bt_guardar.png);
}

#send_OK input[type="submit"] {
  background-image: url(../img/tema3/bt_aceptar.png);
}

.footer {
  background-image: url(../img/tema3/footer.png);
}

.bebes {
  background: url(../img/tema3/bebesotes.png);
}

.add_moment:before {
  background-image: url(../img/tema3/agrega_memoria.png);
}

#IlovemybabyPageAddForm .opcion {
  background-image: url(../img/tema3/caballo.png);
}
#IlovemybabyPageAddForm .opcion+.opcion {
  background-image: url(../img/tema3/tambor.png);
}

#IlovemybabyPageAddForm .opcion+.opcion+.opcion {
  background-image: url(../img/tema3/mar.png);
}


/* COLORS */

#last_input,
.aux_text,
p.middle_note,
.ultra .info h3,
.note_sintom_,
#SpecialdeliveryPageAddForm .nota-foot,
#AnimoPageAddForm h3,
#AnimoPageAddForm p {
  color: #808080;
}

ul.vertical_menu_1 li{
  background: #a391b1;
  border-right: 1px solid #877799;
  border-bottom: 1px solid #877799;

}

ul.vertical_menu_1 li a {
  color: #fff;
}

ul.vertical_menu_1 li.selected,
ul.vertical_menu_1 li:hover {
  border-right: 1px solid #a391b1;
  border-bottom: 1px solid #a391b1;
  background: #877799;
}


ul.vertical_menu_1 li:first-child {
  border-left: 1px solid #877799;
}

ul.vertical_menu_1 li.selected:first-child,
ul.vertical_menu_1 li:hover:first-child {
  border-left: 1px solid #a391b1;
}


ul.vertical_menu_1 li.selected a,
ul.vertical_menu_1 li.:hover a {
  color: #877799;
}


.mesuno>p, .mesdos>p, .mestres>p {
  color: #7D7F82;
}

.col1 p:after {
  border-top: 1px dashed rgba(135, 119, 153, 0.47);
}

#MomentPageAddForm .title_page p {
  color
}

/* CUSTOM */

.menu {
  top: 105px;
}

.title_page p,
#MomentPageAddForm .title_page p {
  margin-top: -15px;
}

.title_page span {
  top: 38px;
}

input[type="text"]{
  border-bottom: 1px solid #877799;
}
