body {
	background-image: url(../img/tema4/back.png);
  color: #511114;
}

input[type="text"], input[type="number"], textarea {
  color: #511114;
}



.ask{
  background-image: url(../img/tema4/ayuda.png);
}

.settings {
  background-image: url(../img/tema4/ajustes.png);
}

.home{
  background-image: url(../img/tema4/home.png);
}

#header h1 {
  background: #003d4c url('../img/cake.icon.png') no-repeat left;
}

.header{
	background-image: url(../img/tema4/header.png);
  background-position: 0 0;
}

.title_page{
  background-image: url(../img/tema4/titulo_back.png);
}

.cover_photo,
.photo-up,
.photo-v {
  background-image: url(../img/tema4/marco.png);
}

.cover_photo_back,
.whoami_photo_back,
#ultrasound_photo_1_back,
#ultrasound_photo_2_back,
#photo3_back,
#photo1_back,
#photo2_back,
.firstkick_photo_back,
.belly_photo_back,
#photo1_back_,
#photo2_back_,
#photo_back,
#room_photo_back,
#photo-back,
#photo-back-1 {
  background-image: url(../img/tema4/marco_fondo.png);
}

.pick_fb{
  background-image: url(../img/tema4/bt_elegir.png);
}

.upload_bt {
  background-image: url(../img/tema4/bt_subir_foto.png);
}

p.whatdo{
  background-image: url(../img/que-quieres-hacer.png); // FALTA?
}

.write_bt {
  background-image: url(../img/tema4/bt_escribir.png);
}

.share_bt{
  background-image: url(../img/tema4/bt_compartir.png);
}

.watch_bt{
  background-image: url(../img/tema4/bt_ver.png);
}

.instructions_bt {
  background-image: url(../img/tema4/bt_instrucciones.png);
}

.first_trim,
.second_trim,
.third_trim {
  height: 36px;
}

.first_trim {
  background-image: url(../img/tema4/bt_primer.png);
}

.second_trim {
  background-image: url(../img/tema4/bt_segundo.png);
}

.third_trim {
  background-image: url(../img/tema4/bt_tercer.png);
}

.menu_trims .current,
.first_trim:hover,
.second_trim:hover,
.third_trim:hover {
  background-position: 0 36px;
}

.ant{
  background-image: url(../img/tema4/anterior.png);
}

.sig{
  background-image: url(../img/tema4/siguiente.png);
}

.footer {
  background-image: url(../img/tema4/footer.png);
}

form .submit input[type="submit"]{
  background-image: url(../img/tema4/bt_guardar.png);
}

#send_OK input[type="submit"]{
	background-image: url(../img/tema4/bt_aceptar.png);
}

.bebes {
  background: url(../img/tema4/bebesotes.png);
  top: 200px;
  left: 70px;
  width: 661px;
  height: 363px;
}
/* COLORS */

#last_input,
.aux_text,
p.middle_note,
.ultra .info h3,
.note_sintom_,
#SpecialdeliveryPageAddForm .nota-foot,
#AnimoPageAddForm h3,
#AnimoPageAddForm p {
  color: #0C5773; //AZUL
}

ul.vertical_menu_1 li{
  background: #c5deb3;
  border-right: 1px solid #4d2e11;
  border-bottom: 1px solid #4d2e11;

}

ul.vertical_menu_1 li a {
  color: #632c4f;
}

ul.vertical_menu_1 li.selected,
ul.vertical_menu_1 li:hover {
  background: #fce385;
  border-right: 1px solid #4d2e11;
  border-bottom: 1px solid #4d2e11;
}


ul.vertical_menu_1 li:first-child {
  border-left: 1px solid #4d2e11;
}

ul.vertical_menu_1 li.selected:first-child,
ul.vertical_menu_1 li:hover:first-child {
  border-left: 1px solid #a391b1;
}


ul.vertical_menu_1 li.selected a,
ul.vertical_menu_1 li.:hover a {
  color: #632c4f;
}

.mesuno>p, .mesdos>p, .mestres>p {
 color: #4D2E11;
}

/* CUSTOM */
.sig, .ant {
  height: 50px;
}


.menu_trims {
  top: -21px;
}

.title_page {
  margin-left: 72px;
  margin-top: -14px;
  width: 363px;
  height: 88px;

}

.title_page p {
  margin-top: -28px;
}

.title_page span {
  top: 34px;
}

.aux_text {
  top: 730px;
  left: 550px;
}

.add_moment {
  top: 962px;
}

.menu_trims .current,
.first_trim:hover,
.second_trim:hover,
.third_trim:hover {
  background-position: 0 36px;
}


input[type="text"] {
  border-bottom: 1px solid #511114;
}

.col1 p:after {
  border-top: 1px dashed rgba(135, 119, 153, 0.47);
}



