.ask{
  background-image: url(../img/tema2/ayuda.png);
}

.settings {
  background-image: url(../img/tema2/ajustes.png);
}

.home{
  background-image: url(../img/tema2/home.png);
}

#header h1 {
  background: #003d4c url('../img/cake.icon.png') no-repeat left;
}

body {
	background-image: url(../img/tema2/back.png);
}

.header{
	background-image: url(../img/tema2/header.png);
  background-position: 0 0;
}

.title_page{
  background-image: url(../img/tema2/titulo_back.png);
}

.cover_photo,
.photo-up,
.photo-v {
  background-image: url(../img/tema2/marco.png);
}

.cover_photo_back{
  background-image: url(../img/tema2/marco_fondo.png);
}


.whoami_photo_back{
  background-image: url(../img/tema2/marco_fondo.png);
}

#ultrasound_photo_1_back{
  background-image: url(../img/tema2/marco_fondo.png);
}

#ultrasound_photo_2_back{  
  background-image: url(../img/tema2/marco_fondo.png);
}


#photo3_back{
  background-image: url(../img/tema2/marco_fondo.png);
}

#photo1_back{
  background-image: url(../img/tema2/marco_fondo.png);
}

#photo2_back{
  background-image: url(../img/tema2/marco_fondo.png);
}

.firstkick_photo_back{
  background-image: url(../img/tema2/marco_fondo.png);
}

.belly_photo_back{
  background-image: url(../img/tema2/marco_fondo.png);
}
#photo1_back_{
  background-image: url(../img/tema2/marco_fondo.png);  
}
#photo2_back_, #photo_back, #room_photo_back, #photo-back, #photo-back-1{
  background-image: url(../img/tema2/marco_fondo.png);  
}




.pick_fb{
  background-image: url(../img/tema2/bt_elegir.png);
}

.upload_bt {
  background-image: url(../img/tema2/bt_subir_foto.png);
}

p.whatdo{
  background-image: url(../img/que-quieres-hacer.png); // FALTA?
}

.write_bt {
  background-image: url(../img/tema2/bt_escribir.png);
}

.share_bt{
  background-image: url(../img/tema2/bt_compartir.png);
}

.watch_bt{
  background-image: url(../img/tema2/bt_ver.png);
}

.instructions_bt {
  background-image: url(../img/tema2/bt_instrucciones.png);
}

.first_trim {
  background-image: url(../img/tema2/bt_primer.png);
}

.second_trim {
  background-image: url(../img/tema2/bt_segundo.png);
}

.third_trim {
  background-image: url(../img/tema2/bt_tercer.png);
}

.menu_trims .current,
.first_trim:hover,
.second_trim:hover,
.third_trim:hover {
  background-position: 0 33px;
}

.ant{
  background-image: url(../img/tema2/anterior.png);
}

.sig{
  background-image: url(../img/tema2/siguiente.png);
}

form .submit input[type="submit"],
form .submit input[type="submit"]:hover {
  background-image: url(../img/tema2/bt_aceptar.png);
  
}

.footer {
  background-image: url(../img/tema2/footer.png);
}



/* COLORES */


